/* You can add global styles to this file, and also import other style files */
@use '@portfolio/styles-scss';
@use '_global.scss';
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #212529;
  --background-color: #f8f9fa;
  --border-color: #ced4da;
  --border-radius: 5px;
}
